apiVersion: v1
kind: Pod
spec:
  containers:
    - name: kubectl
      image: bitnami/kubectl:latest
      command:
        - sleep
        - infinity
      resources:
        requests:
          cpu: "${request_cpu}"
          memory: "${request_memory}"
        limits:
          cpu: "${limit_cpu}"
          memory: "${limit_memory}"
