# Grafana Configuration - Variables Only
# This file contains only the sections with variables
# All variables are injected via Terraform templatefile() in grafana.tf

image:
  registry: docker.io
  repository: bitnamilegacy/grafana

admin:
  user: "${grafana_user}"
  password: "${grafana_password}"

grafana:
  datasources:
    secretDefinition:
      apiVersion: 1
      datasources:
        - name: Prometheus
          url: ${prometheus_url}
          basicAuthUser: ${prometheus_basic_auth_user}
          secureJsonData:
            basicAuthPassword: ${prometheus_basic_auth_password}
        - name: Alertmanager
          url: ${prometheus_alertmanager_url}
          basicAuthUser: ${prometheus_alertmanager_basic_auth_user}
          secureJsonData:
            basicAuthPassword: ${prometheus_alertmanager_basic_auth_password}
  nodeSelector: 
    "doks.digitalocean.com/node-pool": ${node_pool_label}
  resources: 
    requests:
      cpu: ${request_cpu}
      memory: ${request_memory}
    limits:
      cpu: ${limit_cpu}
      memory: ${limit_memory}
  persistence:
    size: ${persistence_size}
