# Jenkins Configuration - Variables Only
# This file contains only the sections with variables
# All variables are injected via Terraform templatefile() in jenkins.tf

jenkinsUser: ${jenkins_user}
jenkinsPassword: ${jenkins_password}

initScriptsCM: ${init_hook_scripts_cm}
initScriptsSecret: ${init_hook_scripts_secret}

controller:
  resources:
    requests:
      cpu: ${request_cpu}
      memory: ${request_memory}
    limits:
      cpu: ${limit_cpu}
      memory: ${limit_memory}

defaultInitContainers:
  volumePermissions:
    resources:
      requests:
        cpu: ${volume_permissions_request_cpu}
        memory: ${volume_permissions_request_memory}
      limits:
        cpu: ${volume_permissions_limit_cpu}
        memory: ${volume_permissions_limit_memory}
