loki:
  commonConfig:
    replication_factor: ${replication_factor}
  useTestSchema: true

minio:
  enabled: false
      
deploymentMode: SingleBinary

singleBinary:
  replicas: ${replication_factor}
  resources:
    requests:
      cpu: ${request_cpu}
      memory: ${request_memory}
    limits:
      cpu: ${limit_cpu}
      memory: ${limit_memory}
  persistence:
    size: ${persistence_size}
  nodeSelector:
    "doks.digitalocean.com/node-pool": ${node_pool_label}

# Zero out replica counts of other deployment modes
backend:
  replicas: 0
read:
  replicas: 0
write:
  replicas: 0

ingester:
  replicas: 0
querier:
  replicas: 0
queryFrontend:
  replicas: 0
queryScheduler:
  replicas: 0
distributor:
  replicas: 0
compactor:
  replicas: 0
indexGateway:
  replicas: 0
bloomCompactor:
  replicas: 0
bloomGateway:
  replicas: 0

resultsCache:
  enabled: false

chunksCache:
  enabled: false
